@charset "utf-8";
/* 
body {
    background: plum;
} */
.fond_orange {
    background: orange;
}
.fond_bleu {
    background: lightblue;
}
.carousel-caption {
    background-color: rgba(83, 153, 147, 0.26);
}